html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  --discord-background: #2c2f33;
  --christmas-primary: #146b3a;
  --christmas-secondary: #bb2528;
  --christmas-tertiary: #f8b229;
}

@font-face {
  font-family: "Filetto";
  src: url("font/Filetto_regular.ttf");
}

@font-face {
  font-family: "Filetto bold";
  src: url("font/Filetto_bold.ttf");
}

body {
  color: #fff;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--discord-background);
  font-family: "Filetto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
